body {
    font-family: 'Roboto Mono', monospace;
}

#container {
    background-color: #FEE715FF;
}

#form-container {
    background-color: #101820FF;
    
}

.result {
    font-size: calc(1.5vw + 1.5vh)
}

form {
    font-size: calc(1vw + 1vh)
}